/* Import the Google Font for h1 and h2 */
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Rubik+Bubbles&display=swap');

/* Reset some default styles */
body, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1, h2 {
    font-family: 'Rubik Bubbles', sans-serif; /* Use Rubik Bubbles for h1 and h2 */
    color: #fff;
    margin-bottom: 10px;
    font-size: 2em; /* Adjust the font size as needed */
}

/* Add more styles as needed */

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
    section {
        margin: 10px;
    }
}
